{% extends 'ledger/base.html' %}
{% load static %}
{% block content %}
    <h2>{{ recipe.name }}</h2>
    <p>Author:{{ recipe.author.name }}</p>
    <p>Created: {{ recipe.created_on|date }}</p>
    <p>Updated: {{ recipe.updated_on|date }}</p>
    {% if recipe.image %}
        <p>Image URL: {{ recipe.image.url }}</p>
        <p>Image path: {{ recipe.image.path }}</p>
        <img src="{{ recipe.image.url }}" alt="{{ recipe.name }}">
    {% endif %}

    <h3>Ingredients:</h3>
    <ul>    
        {% for recipe_ingredients in recipe.ingredients.all %}
            <li>
                {{ recipe_ingredients.quantity }} {{ recipe_ingredients.ingredient.name }} 
            </li>
        {% endfor %}
        <br/>
        <a href="{% url 'ledger:recipe_list' %}">Back to Recipe List</a>
    </ul>
{% endblock %}
